<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>jenkins.security.RekeySecretAdminMonitor</string>
    <string>hudson.node_monitors.MonitorMarkedNodeOffline</string>
    <string>OldData</string>
  </disabledAdministrativeMonitors>
  <version>1.509.1</version>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>com.sonyericsson.hudson.plugins.metadata.model.PluginImpl.Configure:Jenkins Administrator</permission>
    <permission>com.sonyericsson.hudson.plugins.metadata.model.PluginImpl.Read:Jenkins Administrator</permission>
    <permission>com.sonyericsson.hudson.plugins.metadata.model.PluginImpl.Replace:Jenkins Administrator</permission>
    <permission>com.sonyericsson.hudson.plugins.metadata.model.PluginImpl.Update:Jenkins Administrator</permission>
    <permission>hudson.model.Computer.Configure:Jenkins Administrator</permission>
    <permission>hudson.model.Computer.Connect:Jenkins Administrator</permission>
    <permission>hudson.model.Computer.Connect:authenticated</permission>
    <permission>hudson.model.Computer.Create:Jenkins Administrator</permission>
    <permission>hudson.model.Computer.Delete:Jenkins Administrator</permission>
    <permission>hudson.model.Computer.Disconnect:Jenkins Administrator</permission>
    <permission>hudson.model.Computer.Disconnect:authenticated</permission>
    <permission>hudson.model.Hudson.Administer:Jenkins Administrator</permission>
    <permission>hudson.model.Hudson.Administer:jenkins</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:Jenkins Administrator</permission>
    <permission>hudson.model.Hudson.Read:Jenkins Administrator</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.RunScripts:Jenkins Administrator</permission>
    <permission>hudson.model.Hudson.UploadPlugins:Jenkins Administrator</permission>
    <permission>hudson.model.Item.Build:Jenkins Administrator</permission>
    <permission>hudson.model.Item.Build:authenticated</permission>
    <permission>hudson.model.Item.Build:git</permission>
    <permission>hudson.model.Item.Cancel:Jenkins Administrator</permission>
    <permission>hudson.model.Item.Cancel:authenticated</permission>
    <permission>hudson.model.Item.Configure:Jenkins Administrator</permission>
    <permission>hudson.model.Item.Create:Jenkins Administrator</permission>
    <permission>hudson.model.Item.Delete:Jenkins Administrator</permission>
    <permission>hudson.model.Item.Discover:Jenkins Administrator</permission>
    <permission>hudson.model.Item.Read:Jenkins Administrator</permission>
    <permission>hudson.model.Item.Read:anonymous</permission>
    <permission>hudson.model.Item.Workspace:Jenkins Administrator</permission>
    <permission>hudson.model.Item.Workspace:authenticated</permission>
    <permission>hudson.model.Run.Delete:Jenkins Administrator</permission>
    <permission>hudson.model.Run.Delete:authenticated</permission>
    <permission>hudson.model.Run.Update:Jenkins Administrator</permission>
    <permission>hudson.model.View.Configure:Jenkins Administrator</permission>
    <permission>hudson.model.View.Create:Jenkins Administrator</permission>
    <permission>hudson.model.View.Delete:Jenkins Administrator</permission>
    <permission>hudson.model.View.Read:Jenkins Administrator</permission>
    <permission>hudson.scm.SCM.Tag:Jenkins Administrator</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.LDAPSecurityRealm" plugin="ldap@1.2">
    <server>ldaps://db.torproject.org</server>
    <rootDN>dc=torproject,dc=org</rootDN>
    <inhibitInferRootDN>false</inhibitInferRootDN>
    <userSearchBase></userSearchBase>
    <userSearch>uid={0}</userSearch>
    <disableMailAddressResolver>false</disableMailAddressResolver>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves>
    <slave>
      <name>dixie.torproject.org</name>
      <description></description>
      <remoteFS>/home/jenkins</remoteFS>
      <numExecutors>4</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Demand">
        <inDemandDelay>1</inDemandDelay>
        <idleDelay>30</idleDelay>
      </retentionStrategy>
      <launcher class="hudson.slaves.CommandLauncher">
        <agentCommand>ssh jenkins@dixie.torproject.org /home/jenkins/jenkins-tools/slaves/linux/start-slave.sh</agentCommand>
      </launcher>
      <label>Linux Debian amd64 i386 squeeze wheezy lucid natty oneiric precise quantal sid experimental raring jessie saucy trusty</label>
      <nodeProperties/>
    </slave>
    <slave>
      <name>rabin</name>
      <description>windows test VM</description>
      <remoteFS>/cygwin/home/jenkins</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>EXCLUSIVE</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Demand">
        <inDemandDelay>10</inDemandDelay>
        <idleDelay>30</idleDelay>
      </retentionStrategy>
      <launcher class="hudson.slaves.CommandLauncher">
        <agentCommand>ssh -l jenkins -p 2222 localhost ~/bin/start-slave</agentCommand>
      </launcher>
      <label></label>
      <nodeProperties>
        <hudson.tools.ToolLocationNodeProperty>
          <locations>
            <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
              <type>hudson.plugins.git.GitTool$DescriptorImpl</type>
              <name>Default</name>
              <home>C:\Program Files (x86)\Git\cmd\git</home>
            </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          </locations>
        </hudson.tools.ToolLocationNodeProperty>
      </nodeProperties>
    </slave>
    <slave>
      <name>weissii.torproject.org</name>
      <description>Windows 7 build VM</description>
      <remoteFS>/cygwin/home/jenkins</remoteFS>
      <numExecutors>2</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Demand">
        <inDemandDelay>1</inDemandDelay>
        <idleDelay>30</idleDelay>
      </retentionStrategy>
      <launcher class="hudson.slaves.CommandLauncher">
        <agentCommand>ssh -l jenkins weissii.torproject.org ~/bin/start-slave</agentCommand>
      </launcher>
      <label>amd64 windows mingw32</label>
      <nodeProperties>
        <hudson.tools.ToolLocationNodeProperty>
          <locations>
            <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
              <type>hudson.plugins.git.GitTool$DescriptorImpl</type>
              <name>Default</name>
              <home>C:\Program Files (x86)\Git\cmd\git</home>
            </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          </locations>
        </hudson.tools.ToolLocationNodeProperty>
      </nodeProperties>
    </slave>
    <slave>
      <name>hedgei.torproject.org</name>
      <description></description>
      <remoteFS>/home/jenkins</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>EXCLUSIVE</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Demand">
        <inDemandDelay>1</inDemandDelay>
        <idleDelay>30</idleDelay>
      </retentionStrategy>
      <launcher class="hudson.slaves.CommandLauncher">
        <agentCommand>ssh jenkins@hedgei-vpn.torproject.org /home/jenkins/jenkins-tools/slaves/linux/start-slave.sh</agentCommand>
      </launcher>
      <label>Linux Debian armel armhf squeeze wheezy precise quantal sid experimental raring jessie saucy</label>
      <nodeProperties/>
      <userId>weasel</userId>
    </slave>
  </slaves>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>tor</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <org.jenkins.plugins.builton.BuiltOnColumn plugin="built-on-column@1.1"/>
        <hudson.plugins.nodenamecolumn.NodeNameColumn plugin="nodenamecolumn@1.1"/>
      </columns>
      <includeRegex>tor-.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>packages - debian</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <org.jenkins.plugins.builton.BuiltOnColumn plugin="built-on-column@1.1"/>
        <hudson.plugins.nodenamecolumn.NodeNameColumn plugin="nodenamecolumn@1.1"/>
      </columns>
      <includeRegex>.*-debian-.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Failed</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters>
        <hudson.views.JobStatusFilter plugin="view-job-filters@1.22">
          <includeExcludeTypeString>includeMatched</includeExcludeTypeString>
          <unstable>false</unstable>
          <failed>true</failed>
          <aborted>false</aborted>
          <disabled>false</disabled>
          <stable>false</stable>
        </hudson.views.JobStatusFilter>
      </jobFilters>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <org.jenkins.plugins.builton.BuiltOnColumn plugin="built-on-column@1.1"/>
        <hudson.plugins.nodenamecolumn.NodeNameColumn plugin="nodenamecolumn@1.1"/>
      </columns>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label>master</label>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>