<?xml version='1.0' encoding='UTF-8'?>
<matrix-config>
  <actions/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <job-metadata plugin="metadata@1.0b">
      <values class="linked-list">
        <metadata-tree>
          <name>job-info</name>
          <parent class="job-metadata" reference="../../.."/>
          <generated>true</generated>
          <exposedToEnvironment>false</exposedToEnvironment>
          <children class="linked-list">
            <metadata-tree>
              <name>last-saved</name>
              <description></description>
              <parent class="metadata-tree" reference="../../.."/>
              <generated>true</generated>
              <exposedToEnvironment>false</exposedToEnvironment>
              <children class="linked-list">
                <metadata-date>
                  <name>time</name>
                  <description></description>
                  <parent class="metadata-tree" reference="../../.."/>
                  <generated>true</generated>
                  <exposedToEnvironment>false</exposedToEnvironment>
                  <value>
                    <time>1398535045569</time>
                    <timezone>Etc/UTC</timezone>
                  </value>
                  <checked>false</checked>
                </metadata-date>
                <metadata-tree>
                  <name>user</name>
                  <parent class="metadata-tree" reference="../../.."/>
                  <generated>true</generated>
                  <exposedToEnvironment>false</exposedToEnvironment>
                  <children class="linked-list">
                    <metadata-string>
                      <name>display-name</name>
                      <description></description>
                      <parent class="metadata-tree" reference="../../.."/>
                      <generated>true</generated>
                      <exposedToEnvironment>false</exposedToEnvironment>
                      <value>unknown</value>
                    </metadata-string>
                    <metadata-string>
                      <name>full-name</name>
                      <description></description>
                      <parent class="metadata-tree" reference="../../.."/>
                      <generated>true</generated>
                      <exposedToEnvironment>false</exposedToEnvironment>
                      <value>unknown</value>
                    </metadata-string>
                  </children>
                </metadata-tree>
              </children>
            </metadata-tree>
            <metadata-tree>
              <name>matrix</name>
              <parent class="metadata-tree" reference="../../.."/>
              <generated>true</generated>
              <exposedToEnvironment>false</exposedToEnvironment>
              <children class="linked-list">
                <metadata-tree>
                  <name>combination</name>
                  <description></description>
                  <parent class="metadata-tree" reference="../../.."/>
                  <generated>true</generated>
                  <exposedToEnvironment>false</exposedToEnvironment>
                  <children class="linked-list">
                    <metadata-string>
                      <name>value</name>
                      <description></description>
                      <parent class="metadata-tree" reference="../../.."/>
                      <generated>true</generated>
                      <exposedToEnvironment>false</exposedToEnvironment>
                      <value>ARCHITECTURE:amd64,CONFIGURE_DEBUG_MODE:yes-debug-mode,CONFIGURE_MALLOC_REPLACEMENT:yes-malloc-replacement,CONFIGURE_OPENSSL:no-openssl,CONFIGURE_THREAD_SUPPORT:no-thread-support,CONFIGURE_VERBOSE_DEBUG:yes-verbose-debug,SUITE:wheezy</value>
                    </metadata-string>
                    <metadata-tree>
                      <name>axis</name>
                      <parent class="metadata-tree" reference="../../.."/>
                      <generated>true</generated>
                      <exposedToEnvironment>false</exposedToEnvironment>
                      <children class="linked-list">
                        <metadata-string>
                          <name>ARCHITECTURE</name>
                          <description></description>
                          <parent class="metadata-tree" reference="../../.."/>
                          <generated>true</generated>
                          <exposedToEnvironment>false</exposedToEnvironment>
                          <value>amd64</value>
                        </metadata-string>
                        <metadata-string>
                          <name>CONFIGURE_DEBUG_MODE</name>
                          <description></description>
                          <parent class="metadata-tree" reference="../../.."/>
                          <generated>true</generated>
                          <exposedToEnvironment>false</exposedToEnvironment>
                          <value>yes-debug-mode</value>
                        </metadata-string>
                        <metadata-string>
                          <name>CONFIGURE_MALLOC_REPLACEMENT</name>
                          <description></description>
                          <parent class="metadata-tree" reference="../../.."/>
                          <generated>true</generated>
                          <exposedToEnvironment>false</exposedToEnvironment>
                          <value>yes-malloc-replacement</value>
                        </metadata-string>
                        <metadata-string>
                          <name>CONFIGURE_OPENSSL</name>
                          <description></description>
                          <parent class="metadata-tree" reference="../../.."/>
                          <generated>true</generated>
                          <exposedToEnvironment>false</exposedToEnvironment>
                          <value>no-openssl</value>
                        </metadata-string>
                        <metadata-string>
                          <name>CONFIGURE_THREAD_SUPPORT</name>
                          <description></description>
                          <parent class="metadata-tree" reference="../../.."/>
                          <generated>true</generated>
                          <exposedToEnvironment>false</exposedToEnvironment>
                          <value>no-thread-support</value>
                        </metadata-string>
                        <metadata-string>
                          <name>CONFIGURE_VERBOSE_DEBUG</name>
                          <description></description>
                          <parent class="metadata-tree" reference="../../.."/>
                          <generated>true</generated>
                          <exposedToEnvironment>false</exposedToEnvironment>
                          <value>yes-verbose-debug</value>
                        </metadata-string>
                        <metadata-string>
                          <name>SUITE</name>
                          <description></description>
                          <parent class="metadata-tree" reference="../../.."/>
                          <generated>true</generated>
                          <exposedToEnvironment>false</exposedToEnvironment>
                          <value>wheezy</value>
                        </metadata-string>
                      </children>
                    </metadata-tree>
                  </children>
                </metadata-tree>
              </children>
            </metadata-tree>
          </children>
        </metadata-tree>
      </values>
    </job-metadata>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
</matrix-config>